HW1/Homework1/Homework1/obj/
HW1/Homework1/.vs/
HW1/Homework1/Homework1/bin/
HW1/Homework1/Homework2_1/obj/
HW1/Homework1/Homework2_1/bin/
HW1/Homework1/Homework2_2/obj/
HW1/Homework1/Homework2_2/bin/
