HW1/Homework1/Homework1/obj/
HW1/Homework1/.vs/
HW1/Homework1/Homework1/bin/
HW1/Homework1/Homework2_1/obj/
HW1/Homework1/Homework2_1/bin/
HW1/Homework1/Homework2_2/obj/
HW1/Homework1/Homework2_2/bin/
HW1/Homework1/Homework2_3/obj/
HW1/Homework1/Homework2_3/bin/Debug/netcoreapp3.1/Homework2_3.deps.json
HW1/Homework1/Homework2_3/bin/Debug/netcoreapp3.1/Homework2_3.dll
HW1/Homework1/Homework2_3/bin/Debug/netcoreapp3.1/Homework2_3.exe
HW1/Homework1/Homework2_3/bin/Debug/netcoreapp3.1/Homework2_3.pdb
HW1/Homework1/Homework2_3/bin/Debug/netcoreapp3.1/Homework2_3.runtimeconfig.dev.json
HW1/Homework1/Homework2_3/bin/Debug/netcoreapp3.1/Homework2_3.runtimeconfig.json
HW1/Homework1/Homework2_4/obj/
HW1/Homework1/Homework2_4/bin/
HW1/Homework1/Homework3/obj/
HW1/Homework1/Homework3/bin/
HW1/Homework1/Homework3/.vs/

